@model IEnumerable<MakeABoard.Models.TournamentModel>

<h4>
    Tournament
</h4>
<ul>
    <li>list of players</li>
    <li>player 1 selected</li>
    <li>player 2 selected</li>
    <li>start button</li>
</ul>
<div id="match">
    <p>
    this is the match space
    <p>
        @await Html.PartialAsync("/Views/Match/Main.cshtml")
</div>
@*<p>
    <a asp-action="Create">Create New</a>
<<p>>*@
@*<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>*@
